/venv
/.vagrant
.scrapy
/scrapy.iml
*.pyc
_trial_temp*
dropin.cache
docs/build
*egg-info
.tox
venv
build
dist
.idea
htmlcov/
.coverage
.pytest_cache/
.coverage.*
.cache/
.mypy_cache/
/tests/keys/localhost.crt
/tests/keys/localhost.key

# Ignore Scraped data
# online_khabar_urls.txt
*.csv
*.json
*.xml
*.sqlite
# Windows
Thumbs.db

scrapinghub.yml
data/online_khabar_urls.txt
data/.~lock.data.csv#
